
$black-bg : #131517;
$grey-bg : #191B20;


%muller-400{
    font-family: "MullerRegular";
    font-weight: 400;
}

%muller-700{
    font-family: "MullerBold";
    font-weight: 700;
}

%muller-800{
    font-family: "MullerBlack";
    font-weight: 800;
}